<app-charge></app-charge>
<img src="./assets/banner1.jpg" alt="Logo">
<div class="mt-6 w-[900px] mx-auto ">
    <h1 class="text-2xl font-semibold text-center">Who we are</h1>
    <p class="text-center mt-4">Zeon International was started in the year 2004 by five young entrepreneurs soon after graduating from same business school.</p>
<p class="text-center mt-4">Zeon International started by importing and distributing spandex yarn to customers in the textiles industry in India. We have consistently grown since our humble beginnings and today we have emerged as one of the largest importer and distributor in South East Asia for spandex and other speciality yarns. Zeon International today has established its presence throughout India with its Head office in Tirupur (Tamil Nadu), warehouses and marketing offices in New Delhi, Maharashtra and Gujarat.</p>
<p class="text-center mt-4">In 2014 we opened a subsidiary named “Vaiyagam Organic Store” for retailing Organic farm products. We have opened 3 retails stores that procure and sell organically grown farm products directly from certified organic farms. In 2016 “Zeon Cinemas Pvt Ltd” was incorporated to build Multiplexes (Cinema halls). The first Multiplexes was opened in 2018 in Gobichetipalayam which has become a landmark property in the district. This Company is headed by MS Senthil Kumar (Co-Founder of Zeon International) who’s family has been in the Tamil cinema industry for over 40 years.</p>
<p class="text-center mt-4">Zeon Electric Private Limited was started in 2019 to invest into the evolving electric vehicle ecosystem. As passionate electric car owners and enthusiast since 2017, we have driven over 1,00,000 Kms collectively till 2020. This experience of being electric car owners has given is great insights</p>
<div class="underline mt-4"></div>
</div>
<div class="mt-4 w-[900px] mx-auto">
    <h1 class="text-2xl font-semibold text-center">Our Mission</h1>
    <p class="text-center mt-4">Our mission is to accelerate the adoption of Electric Vehicles (EVs) there by making mobility more sustainable. By catalysing EV adoption we endeavour reduce our nation’s dependence on imported oil and make our air cleaner.</p>
    <div class="underline mt-4"></div>
</div>
<div class="mt-4 w-[900px] mx-auto mb-6">
    <h1 class="text-2xl font-semibold text-center">What we do</h1>
    <p class="text-center mt-4">ZEON ELECTRIC PRIVATE LIMITED is building the infrastructure needed to enable the EV Revolution in India. We are installing electric vehicle chargers at convenient locations throughout the nation which would enable EV owners to travel long distances without the worrying about running out of charge. We are partnering with businesses that are frequented by EV owners such as restaurants, shopping malls and other commercial locations to install chargers in their car parks. As charging stations become more prevalent, car buyers will confidently choose EVs as concerns about chargers are addressed.</p>
</div>
<div class="flex pt-6 bg-gray-300 pb-4">
    <!-- First Column -->
    <div class="w-1/2 ms-[130px]">
      <img src="./assets/indiamap.png" alt="Image 1" class="w-[650px] ps-8">
    </div>
  
    <!-- Second Column -->
    <div class="w-1/2 ms-[100px]">
      <img src="./assets/mobile.png" alt="Image 2" class="w-[470px]">
      <h1 class="text-gray-600 font-semibold text-2xl mt-[50px]">Find Chargers & Status</h1>
      <h5 class="pe-[120px] mt-2">Find the most convenient chargers on your route. Also know the live status of our chargers</h5>
    <button class="bg-black text-white mt-2 p-2 rounded">Find a Chargepoint</button>
    </div>
  </div>
  <app-footer></app-footer>
  