<div class="pt-[150px] flex justify-around pb-8">
    <img src = "./assets/zeon.png" class="w-[150px]">
    <div class="flex justify-around">
        <button class="block bg-gray-500 text-white pb-2 px-4 mb-2 h-[50px] my-4 mx-1 rounded"><span><i class="fa fa-apple px-1 pt-2" style="font-size:20px"></i></span>Apple Store</button>
        <button class="block  text-white py-2 px-4 h-[50px] m-4 bg-black rounded"><span><i class="fa fa-youtube-play  px-1 pt-2" style="font-size:20px"></i></span>Google Play</button>
    </div>
    <div class="flex mt-[30px]">
        <span class="mx-2">
            <i class="fa fa-facebook fa-border p-2" style="font-size:20px; border-radius: 30%;border-color: black; border-width: 1px;"></i>
        </span>
        <span class="mx-2">
            <i class="fa fa-whatsapp fa-border p-2" style="font-size:20px; border-radius: 50%;border-color: black; border-width: 1px;"></i>
        </span>
        <span class="mx-2">
            <i class="fa fa-twitter fa-border p-2" style="font-size:20px; border-radius: 50%;border-color: black; border-width: 1px;"></i>
        </span>
        <span class="mx-2">
            <i class="fa fa-skype fa-border p-2" style="font-size:20px; border-radius: 50%;border-color: black; border-width: 1px;"></i>
        </span>
        <span class="mx-2">
            <i class="fa fa-linkedin fa-border p-2" style="font-size:20px; border-radius: 50%;border-color: black; border-width: 1px;"></i>
        </span>
    </div>
  </div>
  <div class="underline"></div>
  <div class="bg-white h-[100px]">
<ul class="flex mt-8 ms-[350px]">
<li class="px-2">Home</li>
<li class="px-2">About Us</li>
<li class="px-2">Download the App</li>
<li class="px-2">Contact US</li>
<li class="px-2">Terms and conditions</li>
<li class="px-2">Privacy Policy</li>
<li class="px-2">Return policy</li>
<li class="px-2">FAQ</li>
</ul>
  </div>