/* You can add global styles to this file, and also import other style files */
body{
    width: 100vw !important;
    height: 100vh !important;
    background-image: linear-gradient(to right, grey, black);

}