<app-charge></app-charge>
<img src="./assets/banner1.jpg" alt="Logo">
  <div class="flex pt-6 bg-gray-300 pb-4">
    <!-- First Column -->
    <div class="w-1/2 ms-[130px]">
<h1 class="font-semibold text-3xl mt-[150px] ms-[300px]">Fast Charging for your EV</h1>   
<h5 class="p-2 ms-[290px]">Download the app and start charging.</h5> 
<div class="flex ms-[300px]">
    <button class="block bg-red-600 text-white pb-2 px-2 mb-2 h-[50px] my-4 mx-1 rounded"><span><i class="fa fa-apple px-1 pt-2" style="font-size:20px"></i></span>Apple Store</button>
    <button class="block  text-white py-2 px-2 h-[50px] m-4 bg-black rounded"><span><i class="fa fa-youtube-play  px-1 pt-2" style="font-size:20px"></i></span>Google Play</button>
</div>
 </div>
    <!-- Second Column -->
    <div class="w-1/2 ms-[100px]">
      <img src="./assets/mobile1.png" alt="Image 2" class="w-[270px]">
    </div>
  </div>
<!-- ///////////////////////////////////////////////////// -->
  <div class="flex pt-6 bg-gray-300 pb-4">
    <!-- First Column -->
    <div class="w-1/2 ms-[130px]">
        <img src="./assets/phone2.png" alt="Image 2" class="w-[270px] ms-[300px]">
</div>
 
    <!-- Second Column -->
    <div class="w-1/2 ms-[100px]">
        <h1 class="font-semibold text-3xl mt-[150px]">Find Chargers & Status</h1>   
        <h5 class="p-2 ">Find the most convenient chargers on your route..</h5> 
        <h5 class="p-2 "> Also know the live status of our chargers</h5>
  </div>
  </div>
<!-- ///////////////////////////////////////////////////// -->
<div class="flex pt-6 bg-gray-300 pb-4">
    <!-- First Column -->
    <div class="w-1/2 ms-[130px]">
<h1 class="font-semibold text-3xl mt-[150px] ms-[300px]">Plug in</h1>   
<h5 class="p-2 ms-[290px]">Once you reach your location,</h5> 
<h5 class="p-2 ms-[290px]">Just Connect the plug to your Vehicle.</h5> 

 </div>
    <!-- Second Column -->
    <div class="w-1/2 ms-[100px]">
      <img src="./assets/phone3.png" alt="Image 2" class="w-[270px]">
    </div>
  </div>
<!-- ///////////////////////////////////////////////////// -->
<div class="flex pt-6 bg-gray-300 pb-4">
    <!-- First Column -->
    <div class="w-1/2 ms-[130px]">
        <img src="./assets/phone4.png" alt="Image 2" class="w-[270px] ms-[300px]">
</div>
 
    <!-- Second Column -->
    <div class="w-1/2 ms-[100px]">
        <h1 class="font-semibold text-3xl mt-[150px]">Scan & Start</h1>   
        <h5 class="p-2 ">After Connect the plug to your car,</h5> 
        <h5 class="p-2 "> Open the app & Scan the QR code on our charger.</h5>
        <h5 class="p-2 pt-4">Now Press the Start icon to Start Charging session</h5>
  </div>
  </div>
<!-- ///////////////////////////////////////////////////// -->
<div class="flex pt-6 bg-gray-300 pb-4">
    <!-- First Column -->
    <div class="w-1/2 ms-[130px]">
<h1 class="font-semibold text-3xl mt-[150px] ms-[300px]">Easy Payments</h1>   
<h5 class="p-2 ms-[290px]">Just ensure sufficient balance in your wallet.,</h5> 
<h5 class="p-2 ms-[290px]">Wallet can be charged with all mode of payments like</h5> 
<h5 class="px-2 pt-0 ms-[290px]">Debit/credit card, Bank transfer, UPI, etc.</h5>

 </div>
    <!-- Second Column -->
    <div class="w-1/2 ms-[100px]">
      <img src="./assets/phone 5.png" alt="Image 2" class="w-[270px]">
    </div>
  </div>
  <app-footer></app-footer>