<nav class="navbar navbar-expand-lg bg-red-700 pb-0">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./assets/zeon.png" alt="Logo" class="w-[160px] h-[80px]">
      </a>
      <div class="text-white" id="navbarSupportedContent">
        <ul class="navbar-nav mr-[50px]">
            <li class="nav-item mx-4">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
              </li>
          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="/location" routerLinkActive="active">Locations</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="/download" routerLinkActive="active">Download the App</a>
          </li>
          <li class="nav-item mx-8">
            <a class="nav-link" routerLink="/partner" routerLinkActive="active">Partner with Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

 
<router-outlet></router-outlet>