<app-charge></app-charge>
<img src="./assets/banner1.jpg" alt="Logo">
<div class="bg-gray-500">
    <h1 class="text-white font-semibold text-4xl text-center p-2">Find Chargers and status</h1>
    <h5 class="text-white text-center pb-4 text-md">Find the most convenient chargers on your route & the live status of our chargers</h5>
</div>
<div id="map" class="leaflet-map"></div>
<div class="bg-gray-300 w-full h-[1100px]">
    <h1 class="text-4xl text-center pt-8">EV CHARGING SOLUTIONS FOR YOU</h1>
    <p class="text-gray-500 text-center pt-2">The fast, safe and easy way to charge your electric vehicle</p>
    <div class="container mt-8">
        <div class="row">
          <div class="col-md-3 mb-4">
            <div class="card bg-gray-300">
              <img src="./assets/home.svg" class="h-[100px]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center font-semibold">Home</h5>
                <p class="card-text text-gray-500 text-center">Get a charging station for your home</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card bg-gray-300">
              <img src="./assets/workplace.svg" class="h-[100px]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center font-semibold">WORKPLACE</h5>
                <p class="card-text text-gray-500 text-center">Get charging stations for staffs and visitors</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card bg-gray-300">
              <img src="./assets/retails.svg" class="h-[85px]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center font-semibold">COMMERCIAL</h5>
                <p class="card-text text-gray-500 text-center">Attract EV owners with chargers in your premisses</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card bg-gray-300">
              <img src="./assets/fleet.svg" class="h-[85px]" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center font-semibold">FLEET</h5>
                <p class="card-text text-gray-500 text-center">Electrify your fleet with our smart Charging Solutions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     <div class="text-center">
        <button class="text-center bg-gray-500  text-white px-4 py-2">READ MORE</button>
     </div> 
     <div class="grid grid-cols-2 gap-4 mt-[100px]">
        <div>
          <img src="./assets/mobile.png" alt="Image" class="h-[500px] ms-[300px]">
        </div>
        <div class="mt-[200px] mx-8">
            <h5 class="p-1">Download the</h5>
            <h1 class="font-semibold text-3xl p-2">Zeon Charging</h1>
            <h5>Mobile App</h5>
            <div class="flex">
                <button class="block bg-gray-500 text-white pb-2 px-4 mb-2 h-[50px] my-4 mx-1 rounded"><span><i class="fa fa-apple px-1 pt-2" style="font-size:20px"></i></span>Apple Store</button>
                <button class="block  text-white py-2 px-4 h-[50px] m-4 bg-black rounded"><span><i class="fa fa-youtube-play  px-1 pt-2" style="font-size:20px"></i></span>Google Play</button>
            </div>
        </div>
      </div>
<app-footer></app-footer>