<app-charge></app-charge>
<img src="./assets/partners.jpg" alt="Logo">
<div class="pt-4">
    <h1 class="font-semibold text-2xl text-center">Why partner with us?</h1>
    <p class="text-center px-[190px] pt-4 font-sans">A typical fast charging stop for an electric vehicle would take between 20 to 60 minutes. This would be an ideal me for travellers to take a break for coffee, food and shopping. We are partnering with office campuses, restaurants, retail shopping centres, hotels, fuel stations, cinema halls, parking lot operators, and other stakeholders to make it easier for everyone to drive electric.</p>
    <p class="text-center px-[190px] pt-4 font-sans">As our location partners your business premises will become the preferred choice for Electric car owners. We will install EV chargers in your customer car parks and all costs related to this will be on us. You may also choose to become our Franchise by investing in the charging infrastructure at your premises. All travellers wanting for a quick EV charge will become your customers inevitably.</p>
</div>
<div class="container mt-8 px-[150px]">
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/home.svg" class="h-[100px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">HOME</h5>
            <p class="card-text text-gray-500 text-center">Get a charging station for your home</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/workplace.svg" class="h-[100px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">WORKPLACE</h5>
            <p class="card-text text-gray-500 text-center">Get charging stations for staffs and visitors</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/retails.svg" class="h-[85px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">COMMERCIAL</h5>
            <p class="card-text text-gray-500 text-center">Attract EV owners with chargers in your premisses</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/fleet.svg" class="h-[85px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">FLEET</h5>
            <p class="card-text text-gray-500 text-center">Electrify your fleet with our smart Charging Solutions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////// -->
  <div class="container mt-2 px-[150px]">
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/restaurant.svg" class="h-[100px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">RESTAURANT</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/educations.svg" class="h-[100px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">EDUCATION</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/new-constructions.svg" class="h-[100px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">NEW CONSTRUCTION</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/healthcares.svg" class="h-[100px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">HEALTHCARE</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////// -->
  <div class="container mt-2 px-[150px]">
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/entertainment.svg" class="h-[100px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">ENTERTAINMENT</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/stadiums.svg" class="h-[100px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">STADIUM</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/hospitality.svg" class="h-[85px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">HOSPITALITY</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card bg-white">
          <img src="./assets/parking-operator.svg" class="h-[85px]" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-semibold">PARKING OPERATORS</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="pt-4 pb-4">
    <h1 class="font-semibold text-2xl text-center">Become our location partner</h1>
    <p class="text-center px-[190px] pt-4 font-sans">If you are interested in having EV chargers at your location, Call +91 444 627 4646</p>
</div>
<div class="underline"></div>
<app-footer></app-footer>